utils/contracts/carParkingWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.choreos.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.choreos.eu/" name="CarParkingWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.choreos.eu/" schemaLocation="carParkingWS.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="getCarParkCode">
<part name="parameters" element="tns:getCarParkCode"></part>
</message>
<message name="getCarParkCodeResponse">
<part name="parameters" element="tns:getCarParkCodeResponse"></part>
</message>
<message name="getLatitude">
<part name="parameters" element="tns:getLatitude"></part>
</message>
<message name="getLatitudeResponse">
<part name="parameters" element="tns:getLatitudeResponse"></part>
</message>
<message name="getLongitude">
<part name="parameters" element="tns:getLongitude"></part>
</message>
<message name="getLongitudeResponse">
<part name="parameters" element="tns:getLongitudeResponse"></part>
</message>
<portType name="CarParkingWS">
<operation name="getCarParkCode">
<input message="tns:getCarParkCode"></input>
<output message="tns:getCarParkCodeResponse"></output>
</operation>
<operation name="getLatitude">
<input message="tns:getLatitude"></input>
<output message="tns:getLatitudeResponse"></output>
</operation>
<operation name="getLongitude">
<input message="tns:getLongitude"></input>
<output message="tns:getLongitudeResponse"></output>
</operation>
</portType>
<binding name="CarParkingWSPortBinding" type="tns:CarParkingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCarParkCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLatitude">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLongitude">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CarParkingWSService">
<port name="CarParkingWSPort" binding="tns:CarParkingWSPortBinding">
<soap:address location="http://localhost:1234/carParkingWS"></soap:address>
</port>
</service>
</definitions>
